html, body {
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
}

#wrap {
	height: 100vh;
	display: grid;
	grid-template-rows: 750px 100px;
}

.signup {
	margin-top: 100px;
}

.error {
	color: tomato;
	margin-bottom: 10px;
}
