#content {
	background: #e6ecf0;
	display: grid;
	grid-template-rows: auto 700px;
}

.topbar {
	background: green;
}

#content #messages {
	padding: 20px;
	height: calc(100vh - 80px);
	overflow-y: auto;
}

#content #new-message {
	padding: 20px;
	border-top: 1px solid #ddd;
	background: #e8f5fd;
}

#content .message {
	background: #fff;
	margin-bottom: 10px;
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 0 2px 10px rgba(0,0,0,.05);
	border-radius: 5px;
}

.message .author {
	font-weight: 700;
}

.message .date {
	color: #333;
	font-size: 12px;
	margin-left: 10px;
}

.message .body {
	margin-top: 10px;
}
