#sidebar {
	padding: 20px;
}
/* #sidebar h2 {
	padding: 5px;
	font-size: 16px;
	margin-bottom: 40px;
}

#sidebar h3 {
	padding: 5px;
	font-size: 15px;
}*/

#sidebar li {
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 4px;
}

#sidebar li:hover {
	background: #3399ff;
	color: #fff;
	font-weight: bold;
}

#sidebar li.active {
	background: #fc9923;
	color: #fff;

}
span.hashtags {
	padding: 30px;
}

#sidebar ul li {
	display: inline;
}
